
/* cosi noi prendiamo tutti i tag p, h1, div e insriemo queste regole di css */
/* file stile.css */
/* quasiesi regola e piu imporftante di questa */
p {

  color: blue;

  font-size: 18px;

}
h1{
    font-size: 32px;
}
div{
    background-color: lightgray;
}
/* le classi si mettono sempre con i punti al'inizio e dopo si possono utilizzare nei tag in html  */
.evidfenziato{
    background-color: black;
}
/* queste sono gli id e sono i piu potenti tra i selettori */
#titolo{
    font-size: 200px;
}
/* questo è un selettore combinatore e seleziona tutti i p che si trovano dentro i div  */
div p {
    color: green;
}
/* qui ABBIAMO INSERITO :HOVER cosi ogni volta che il mouse si trova sopra gli anchor tag questa cambia coilore e canvasambia dimensione */
a:hover{
    color: green;
    font-size: 500px;
}